<div class="sidebar-wrapper scrollbar scrollbar-inner">
  <div class="sidebar-content">
   
    <ul class="nav nav-warning">
      <li class="nav-item active">
        <a href="/admin/dashboard">
          <i class="fas fa-home"></i>
          <p>Dashboard</p>
          <!-- <span class="caret"></span> -->
        </a>
        <div class="collapse" id="dashboard"></div>
      </li>
      <li class="nav-section">
        <span class="sidebar-mini-icon">
          <i class="fa fa-ellipsis-h"></i>
        </span>
      </li>
      	</li>
						<li class="nav-item">
							<a data-toggle="collapse" href="#base">
								<i class="fas fa-book"></i>
								<p>Manage Books</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="base">
								<ul class="nav nav-collapse">
									<li>
										<a href="/add-catalogue">
											<span class="sub-item">Create Catalogue</span>
										</a>
									</li>
									<li>
										<a href="/add-book">
											<span class="sub-item">Add Book</span>
										</a>
									</li>
									<li>
										<a href="/book/all-books">
											<span class="sub-item">All Books</span>
										</a>
									</li>
									<li>
										<a href="/admin/all-purchase">
											<span class="sub-item">All Purchase Books</span>
										</a>
									</li>
									<li>
										<a href="/admin/all-rents">
											<span class="sub-item">All Rented Books</span>
										</a>
									</li>
									<li>
										<a href="/catalogue/all-catalogue">
											<span class="sub-item">All Catalogues</span>
										</a>
									</li>
								
								</ul>
							</div>
						</li>
    
      <li class="nav-item">
        <a data-toggle="collapse" href="#users">
          <i class="fas fa-users"></i>
          <p>Manage Users</p>
          <span class="caret"></span>
        </a>
        <div class="collapse" id="users">
          <ul class="nav nav-collapse">
            <li>
              <a href="/all-users">
                <span class="sub-item">All Users</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    
    
      <li class="nav-item">
        <a href="/admin/logout">
          <i class="fas fa-sign-out-alt"></i>
          <p>Logout</p>
        </a>
      </li>
    </ul>
  </div>
</div>
