<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="header__logo">
          <h4><a class="tom" href="/">MH Bookshop</a></h4>
          <!-- <a href="./index.html"><img src="img/logo.png" alt="" /></a> -->
        </div>
      </div>
      <div class="col-lg-6">
        <nav class="header__menu">
          <ul>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li>
              <a href="#">Books</a>
              <ul class="header__menu__dropdown">
                <li><a href="./shop-details.html">Sciences</a></li>
                <li><a href="./shoping-cart.html">Medicine</a></li>
                <li><a href="./checkout.html">Politics</a></li>
                <li><a href="./blog-details.html">Data Science</a></li>
              </ul>
            </li>
            <!-- <li><a href="./blog.html">Blog</a></li> -->
            <li><a href="/contact">Contact</a></li>
            <li><a href="/admin">Admin Login</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-3">
        <div class="header__cart">
          <ul>
            <% if (user) { %>
            <li class="text-warning"><%= user.name %></li>
            <li>
              <a href="#"><i class="fa fa-shopping-cart text-warning"></i> </a>
            </li>
            <li>
              <a href="/logout">
                <i class="fas fa-sign-out-alt text-warning"></i>
                <p>Logout</p>
              </a>
            </li>
            <%} else {%>
            <li>
              <a href="/login"><i class="fa fa-user"></i></a>
            </li>
            <%}%>
          </ul>
        </div>
      </div>
    </div>
    <div class="humberger__open">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</header>
