<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><%- title %></title>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.943/pdf.min.js"></script>

  <style>
    #canvas_container {
      width: 800px;
      height: 600px;
      overflow: auto;
    }

    #canvas_container {
      background: #333;
      text-align: center;
      border: solid 3px;
    }
  </style>
</head>
