<div class="sidebar-wrapper scrollbar scrollbar-inner">
  <div class="sidebar-content">
    <ul class="nav nav-warning">
      <li class="nav-item active">
        <a href="/dashboard">
          <i class="fas fa-home"></i>
          <p>Dashboard</p>
        </a>
        <div class="collapse" id="dashboard"></div>
      </li>
      <li class="nav-section">
        <span class="sidebar-mini-icon">
          <i class="fa fa-ellipsis-h"></i>
        </span>
      </li>

      <li class="nav-item">
        <a href="/book/my-books">
          <i class="fas fa-user"></i>
          <p>Purchased Books</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/book/my-rent">
          <i class="fas fa-user"></i>
          <p>Rented Books</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/profile">
          <i class="fas fa-user"></i>
          <p>Profile</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/logout">
          <i class="fas fa-sign-out-alt"></i>
          <p>Logout</p>
        </a>
      </li>
    </ul>
  </div>
</div>
