<div class="sidebar-wrapper scrollbar scrollbar-inner">
  <div class="sidebar-content">
    <!-- <div class="user">
      <div class="avatar-sm float-left mr-2">
        <img
          src="../assets/img/profile.jpg"
          alt="..."
          class="avatar-img rounded-circle"
        />
      </div>
      <div class="info">
        <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
          <span>
            Hizrian
            <span class="user-level">Administrator</span>
            <span class="caret"></span>
          </span>
        </a>
        <div class="clearfix"></div>

        <div class="collapse in" id="collapseExample">
          <ul class="nav">
            <li>
              <a href="#profile">
                <span class="link-collapse">My Profile</span>
              </a>
            </li>
            <li>
              <a href="#edit">
                <span class="link-collapse">Edit Profile</span>
              </a>
            </li>
            <li>
              <a href="#settings">
                <span class="link-collapse">Settings</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div> -->
    <ul class="nav nav-warning">
      <li class="nav-item active">
        <a href="/admin/dashboard">
          <i class="fas fa-home"></i>
          <p>Dashboard</p>
          <!-- <span class="caret"></span> -->
        </a>
        <div class="collapse" id="dashboard"></div>
      </li>
      <li class="nav-section">
        <span class="sidebar-mini-icon">
          <i class="fa fa-ellipsis-h"></i>
        </span>
      </li>
      <li class="nav-item">
        <a data-toggle="collapse" href="#base">
          <i class="fas fa-book"></i>
          <p>Manage Books</p>
          <span class="caret"></span>
        </a>
        <div class="collapse" id="base">
          <ul class="nav nav-collapse">
            <li>
              <a href="components/avatars.html">
                <span class="sub-item">Add Catalogue</span>
              </a>
            </li>
            <li>
              <a href="components/avatars.html">
                <span class="sub-item">All Books</span>
              </a>
            </li>
            <li>
              <a href="components/buttons.html">
                <span class="sub-item">Add Book</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a data-toggle="collapse" href="#users">
          <i class="fas fa-users"></i>
          <p>Manage Users</p>
          <span class="caret"></span>
        </a>
        <div class="collapse" id="users">
          <ul class="nav nav-collapse">
            <li>
              <a href="components/avatars.html">
                <span class="sub-item">All Users</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a data-toggle="collapse" href="#pay">
          <i class="far fa-credit-card"></i>
          <p>Manage Payment</p>
          <span class="caret"></span>
        </a>
        <div class="collapse" id="pay">
          <ul class="nav nav-collapse">
            <li>
              <a href="components/avatars.html">
                <span class="sub-item">All Payments</span>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="nav-item">
        <a href="/profile">
          <i class="fas fa-user"></i>
          <p>Profile</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/logout">
          <i class="fas fa-sign-out-alt"></i>
          <p>Logout</p>
        </a>
      </li>
    </ul>
  </div>
</div>
