<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/pdf-head'); %>
  </head>
  <body>
    <div id="my_pdf_viewer"><%- body %></div>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.943/pdf.min.js"></script>
  </body>
</html>
