<div class="page-inner">
  <div class="page-header">
    <h4 class="page-title">All Catalogue</h4>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex align-items-center">
          <h4 class="card-title">All Catalogue</h4>
          
          <button
            class="btn btn-warning btn-round ml-auto"><a class="text-light" href="/add-catalogue">
            <i class="fa fa-plus"></i>
            Create Catalogue  </a>
          </button>
        
        </div>
      </div>
      <div class="card-body">
        
        <div class="table-responsive">
          <table id="add-row" class="display table table-striped table-hover">
            <thead>
              <tr>
                <th>Sn</th>
                <th>Catalogue Name</th>
                <th>Catalogue Description</th>

                <th style="width: 10%">Action</th>
              </tr>
            </thead>

            <tbody>
              <% result.forEach((cat, index) => { %>
              <tr key=<%= index %>>
                <td><%= ++index %></td>
              
                <td><%=cat.name%></td>
                <td><%=cat.description%></td>

                <td>
                  <div class="form-button-action">
                    <!-- <button
                      type="button"
                      data-toggle="tooltip"
                      title=""
                      class="btn btn-link btn-primary btn-lg"
                      data-original-title="Edit Task"
                    >
                      <i class="fa fa-eye"></i>
                    </button> -->
                    <button
                      type="button"
                      data-toggle="tooltip"
                      title=""
                      class="btn btn-link btn-danger"
                      data-original-title="Remove"
                    >
                      <i class="fa fa-times"></i>
                    </button>
                  </div>
                </td>
              </trkey>
              <%})%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const form = document.querySelector("form");
  // const emailError = document.querySelector(".email.error");
  // const passwordError = document.querySelector(".password.error");
  // const confirmError = document.querySelector(".confirm.error");
  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    //reset errors
    // emailError.textContent = "";
    // passwordError.textContent = "";
    // confirmError.textContent = "";
    //get value
    const name = form.name.value;
    const description = form.description.value;

    console.log(name, description);
    // try {
    //   const res = await fetch("/catalogue/create", {
    //     method: "POST",
    //     body: JSON.stringify({
    //       name: name,
    //       description: description,
    //     }),
    //     headers: { "Content-type": "application/json" },
    //   });
    //   const data = await res.json();
    //   console.log(data);

    //   if (data.catalogue) {
    //     location.assign("/");
    //   }
    // } catch (err) {
    //   console.log("error creating catalogue");
    // }
  });
</script>
