<div class="page-inner">
  <div class="page-header">
    <h4 class="page-title">All Books Rented</h4>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex align-items-center">
          <h4 class="card-title">All Books Rented</h4>
        </div>
      </div>
      <div class="card-body">
        <!-- Modal -->

        <div class="table-responsive">
          <table id="add-row" class="display table table-striped table-hover">
            <thead>
              <tr>
                <th>Sn</th>
                <th>Title</th>
                <th>Catalogue</th>
                <th>Author</th>
                <th>Price</th>
                <th>Duration</th>
                <th>Rented By</th>
                <th>Date Rented</th>
                <th style="width: 10%">Action</th>
              </tr>
            </thead>

            <tbody>
              <tr key="{index}">
                <td>1</td>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>5000</td>
                <td>1 Week</td>
                <td>Umar Hudu</td>
                <td>22/10/2022</td>
                <td>
                  <div class="form-button-action">
                    <button
                      type="button"
                      data-toggle="tooltip"
                      title=""
                      class="btn btn-link btn-primary btn-lg"
                      data-original-title="Edit Task"
                    >
                      <i class="fa fa-eye"></i>
                    </button>
                    <button
                      type="button"
                      data-toggle="tooltip"
                      title=""
                      class="btn btn-link btn-danger"
                      data-original-title="Remove"
                    >
                      <i class="fa fa-times"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
