<style>
  img .img-fluid {
    width: 100%;
    height: 60% !important;
  }
  .uhm {
    color: black;
  }
  .uhm:hover,
  .uhm:focus {
    text-decoration: none;
    outline: none;
    color: #000;
  }
</style>
<div class="container my-5">
  <a class="hoverm" href="/">Go Home</a>
  <div class="header my-5">
    <h2>Cart</h2>
  </div>
  <div class="row">
    <div class="col-md-3">
      <a class="uhm" href="/book/single/">
        <div class="card text-center">
          <div class="card-body">
            <img src="/" class="img-fluid" alt="book-img" srcset="" />
          </div>
          <div class="details py-2">
            <h3 class="">
              <span class="mx-1 text-success">Book title:</span>
            </h3>
            <p class="">
              <span class="mx-1 text-success">Book catalogue:</span>
            </p>
            <p class="">
              <span class="mx-1 text-success">Book author:</span>
            </p>
            <p class="">
              <span class="mx-1 text-success">Book description:</span>
            </p>
            <button class="btn btn-warning mb-3">Purchase book</button>
            <button class="btn btn-info mb-3">rent book</button>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
