<div>
  <ul>
    <li>How to start buying book</li>
    <p>Create Account to start buying book</p>
    <li>How to start renting book</li>
    <p>Create Account to start renting book</p>
    <li>can i rent book for a week</li>
    <p>
      yes you can rent book for a period of time. And you can't read that book
      if the period is over
    </p>
  </ul>
</div>
