<div class="container my-5">
  <div class="row py-5">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header">
          <h4>Book details</h4>
        </div>
        <div class="card-body">
          <p></p>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4></h4>
        </div>
        <div class="card-body"></div>
      </div>
    </div> -->
  </div>
</div>
