<div class="container my-5">
  <div class="row py-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4>Book details</h4>
        </div>
        <div class="card-body"></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4></h4>
        </div>
        <div class="card-body">
          <form action="">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Title" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Price" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Buyer Name"
                  />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Title" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input
                    type="submit"
                    class="btn btn-warning w-100"
                    value="Order"
                  />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
