<div class="container my-5">
  <div class="row py-5">
    <div class="col-md-4 offset-md-4">
      <div class="card">
        <div class="card-body">
          <h2>Payment Suucessfully.</h2>
          <a href="/my-books">My Books</a>
        </div>
      </div>
    </div>
  </div>
</div>
